{% extends '@admin/default_frame.twig' %}

{% set menus = ['smartpay', 'smartpay_admin_config'] %}

{% block title %}{{ 'smartpay.admin.config.header'|trans }}{% endblock %}
{% block sub_title %}{{ 'smartpay.admin.config.title'|trans }}{% endblock %}

{% form_theme form '@admin/Form/bootstrap_4_horizontal_layout.html.twig' %}

{% block stylesheet %}

{% endblock stylesheet %}

{% block main %}
    <form role="form" method="post">

        {{ form_widget(form._token) }}

        {% for error in form.vars.errors %}
            <div class="alert alert-danger alert-dismissible fade show m-3" role="alert">
                <i class="fa fa-warning fa-lg mr-2"></i>
                <span class="font-weight-bold">{{ error.message|trans }}</span>
                <button class="close" type="button" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
        {% endfor %}

        <div class="c-contentsArea__cols">
            <div class="c-contentsArea__primaryCol">
                <div class="c-primaryCol">
                    <div class="card rounded border-0 mb-4">
                        <div class="card-header"><span>{{ 'smartpay.admin.config.header'|trans }}</span></div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-3"><span>{{ 'APIキー'|trans }}</span><span
                                        class="badge badge-primary ml-1">{{ 'smartpay.admin.config.required'|trans }}</span></div>
                                <div class="col mb-2">
                                    {% if public_key %}
                                        <p><b>{{ public_key }}</b></p>
                                        <p><a href="{{ url('smartpay_api_keys') }}">APIキーを変更する</a></p>
                                    {% else %}
                                        <p><a href="{{ url('smartpay_api_keys') }}">APIキーを登録する</a></p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3"><span>{{ 'smartpay.admin.config.callback_url.title'|trans }}</span></div>
                                <div class="col mb-2">
                                    {% if success_url and cancel_url %}
                                        <p><b>{{ success_url }}</b></p>
                                        <p><b>{{ cancel_url }}</b></p>
                                        <p><a href="{{ url('smartpay_callback_urls') }}">コールバックURLsを変更する</a></p>
                                    {% else %}
                                        <p><a href="{{ url('smartpay_callback_urls') }}">コールバックURLsを登録する</a></p>
                                    {% endif %}
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-3"><span>{{ 'smartpay.admin.config.webhook_settings.title'|trans }}</span></div>
                                <div class="col mb-2">
                                    {% if webhook_id %}
                                        <p>
                                            <span style="margin-right: 5px;" class="badge badge-ec-green">{{ 'smartpay.admin.config.webhook_settings.configured'|trans }}</span>
                                            <a href="{{ url('smartpay_webhook_settings') }}">{{ 'smartpay.admin.config.webhook_settings.detail'|trans }}</a>
                                        </p>
                                    {% else %}
                                        <p><a href="{{ url('smartpay_webhook_settings') }}">{{ 'smartpay.admin.config.webhook_settings.action'|trans }}</a></p>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
{% endblock %}
